*{
    box-sizing: border-box;
    outline: none;
}
.container {
    margin-bottom: 25px;
}
.card {
    background-color: #EDEEF0;
}
.card img{
    width: 150px;
    padding: 1em 0;
    margin: 0 auto;
}
.card-body{
    background-color: #9DD5a2;
}
.card-body a.btn{
    background-color: #C45253;
}
#resultsPanel{
    margin: 0 1em;
    border-radius: 35px;
}
#resultsPanel>.card-body{
    border-radius: 35px;
}
.badge-secondary{
    display: block !important;
    border: 4px solid #c55252;
    background-color: #c55252;
    margin: 0 auto;
    width: 120px;
}
.yourturn{
    border: 4px solid #9dd5a2;
    color: #9dd5a2;
}
#chat{
    margin-top: 1em;
}
#chat>p{
    background-color: #c55252;
    padding: 0.1em;
    border-radius: 3px;
}